<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron clearfix group-jumbotron">
            <h1><%= 'Private ' if @group.private? %>Group <%= @group.name %></h1>
            <p><%= @group.description %></p>
            <hr>
            <br>
            <% if @student.groups.include?(@group) %>
                <form onsubmit="return confirm('Do you really want to leave <%= @group.name %>?');" method="POST" action='/groups/<%= @group.id %>/leave'>
                    <button class="btn btn-danger leave-group" type='submit'>Leave</button>
                </form>
            <% else %>
                <form onsubmit="return confirm('Do you really want to join <%= @group.name %>?');" method="POST" action='/groups/<%= @group.id %>/join'>
                    <button class="btn btn-info join-group" type='submit'>Join</button>
                </form>
            <% end %>
            <a class="btn btn-default" href="/groups">Group List</a>
        </div>
    </div>

    <% if @group.owner == @student.member %>
        <div class="col-xs-12 col-lg-6 update-group">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Description</h3>
                </div>
                <div class="panel-body">
                    <form action="/groups/<%= @group.id %>/update" method="POST">
                        <textarea class="form-control" name="description"><%= @group.description %></textarea>
                        <hr>
                        <button class="btn btn-warning right" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-6 update-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Invite Student</h3>
                </div>
                <div class="panel-body">
                    <form action="/groups/<%= @group.id %>/invite" method="POST">
                        <input class="form-control" type="text" name="username" placeholder="School Username">
                        <hr>
                        <button class="btn btn-info right" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    <% else %>
        <div class="col-xs-12 discord-info">
            <hr>
            <h4>Owned By: 
                <small><%= @group.owner.on(@group.school.server).info.first_name %> <%= @group.owner.on(@group.school.server).info.last_name %> of <%= @group.owner.on(@group.school.server).info.advisement %> (<%= @group.owner.distinct %>)</small>
            </h4>
            <hr>
        </div>
    <% end %>

    <div class="col-xs-12 clearfix">
        <h2>Members <small class="right"><%= @group.members.length %> Total</small></h2>

        <table id="members" class="table table-condensed">
            <thead>
                <tr>
                    <th class=>Picture</th>
                    <th class="hidden-xs">Advisement</th>
                    <th class="visible-xs">Adv</th>
                    <th>Name</th>
                    <th class="hidden-xs">Discord Tag</th>
                    <th class="visible-xs">Tag</th>
                    <th></th>
                    <%= '<th>Actions</th>' if @group.owner == @student.member %>
                </tr>
            </thead>

            <tbody>
                <% @group.members.sort { |a, b| a.info.advisement <=> b.info.advisement }.each do |m| %>
                    <tr>
                        <td><img class="user-image" src="<%= m.info.pictureurl %>"></td>
                        <td><%= m.info.advisement %></td>
                        <td><a href="/users/<%= m.info.username %>"><%= m.info.first_name %> <%= m.info.last_name %></a></td>
                        <td><%= m.distinct %></td>
                        <td class="hidden-md hidden-xs"><img class="user-image" src="<%= m.avatar_url_fixed %>"></td>
                        <% if  @student.member != m && @group.owner == @student.member %>
                            <td>
                                <form onsubmit="return confirm('Do you really want to transfer ownership of Group <%= @group.name %> to <%= m.info.first_name %>?');" method="POST" action='/groups/<%= @group.id %>/transfer?username=<%= m.info.username %>'>
                                    <button class="btn btn-info" type='submit'>Owner</button>
                                </form>
                                <form onsubmit="return confirm('Do you really want to kick <%= m.info.first_name %> from Group <%= @group.name %>?');" method="POST" action='/groups/<%= @group.id %>/kick?username=<%= m.info.username %>'>
                                    <button class="btn btn-danger" type='submit'>Kick</button>
                                </form>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <% if @group.owner == @student.member %>
        <div class="col-xs-12">
            <hr>
            <form onsubmit="return confirm('Do you REALLY want to delete Group <%= @group.name %>?');" method="POST" action='/groups/<%= @group.id %>/delete'>
                <button class="btn btn-danger right" type='submit'>Delete Group</button>
            </form>
            <form class="clearfix" onsubmit="return confirm('Do you REALLY want to make Group <%= @group.name %> <%= @group.private? ? 'Public' : 'Private' %>?');" method="POST" action='/groups/<%= @group.id %>/privacy?status=<%= @group.private? ? 'public' : 'private' %>'>
                <button class="btn btn-warning" type='submit'>Make <%= @group.private? ? 'Public' : 'Private' %></button>
            </form>
            <hr>
        </div>
    <% end %>
</div>