<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron clearfix">
      <!-- <img class="right hidden-xs" src="http://az616578.vo.msecnd.net/files/2015/07/23/635732924053603777-93632716_group.png"> -->
      <h1><%= @student.school.title %> Server Users</h1>
      <p>
        Each school server is open to all students at <b><%= @student.school.title %></b>. Guests (non-students) are allowed on the server by invitation yet can only see #public-room and join voice-channel <b>Public Room</b>.
        <br><br>
        <a class="btn btn-primary" href="#students"><%= @student.school.title %> Students</a>
        <a class="btn btn-default" href="#guests">Server Guests</a>
      </p>
    </div>
  </div>

  <div class="col-xs-12">
    <hr>

    <form class="form-inline user-search" method="GET" action="/users">
      <div class="form-group">
        <input type="text" class="form-control" style="width: 100%" id="name" placeholder="Regis username">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-3">
    <h2>Moderators</h2>
    <p>Moderators are given limited power to keep an eye out for inappropriate content or anything that breaks the few server rules.
    <ul class="list-group">
      <% @users.select { |m| m.moderator? }.sort { |a, b| a.joined_at <=> b.joined_at }.each do |m| %>
        <a href="#<%= m.info.username %>" class="list-group-item">
          <span class="badge"><%= m.info.advisement %></span>
          <%= m.info.first_name %> <%= m.info.last_name %>
        </a>
      <% end %>
    </ul>
  </div>

  <div class="col-xs=12 col-md-6 col-lg-9">
    <h2>All Students<small class="right"><%= @users.length %> Total</small></h2>
    
    <table id="students" class="table table-condensed">
      <thead>
        <tr>
          <th class=>Picture</th>
          <th class="hidden-xs">Advisement</th>
          <th class="visible-xs">Adv</th>
          <th>Name</th>
          <th class="hidden-xs">Discord Tag</th>
          <th class="visible-xs">Tag</th>
        </tr>
      </thead>

      <tbody>
        <% @users.sort { |a, b| a.joined_at <=> b.joined_at }.each do |m| %>
          <tr id="<%= m.info.username %>" class="<%= m.moderator? ? 'active' : '' %>">
            <td><img class="user-image" src="<%= m.info.pictureurl %>"></td>
            <td><%= m.info.advisement %></td>
            <td><a href="/users/<%= m.info.username %>"><%= m.info.first_name %> <%= m.info.last_name %></a></td>
            <td><%= m.distinct %></td>
            <td class="hidden-md hidden-xs"><img class="user-image" src="<%= m.avatar_url %>"></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <hr>
    <a class="btn btn-danger right" href="#">Back to Top</a>
  </div>
</div>
